{% extends "base.html" %} {% block page_title %} All Books {% endblock %} {%
block page_content %} {% load static%} {% block page_styles%} <link
rel='stylesheet' href='{% static 'book_outlet/style.css' %}'> {% endblock%} 
{% block page_content%}
<div class="book-cards">
  {% for book in books %}
<a href='{% url 'book_details' book.title|slugify %}'>
    <div class="book-card">
      <h2>{{ book.title }}</h2>
      <p><strong>Author:</strong> {{ book.author }}</p>
      <p><strong>Rating:</strong> {{ book.rating }}</p>
    </div>
  </a>
  {% endfor %}
</div>

{% endblock %}
